<!-- templates/members/member_detail.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Member Details</title>
</head>
<body>
    <h1>Member Details</h1>
    <p><strong>First Name:</strong> {{ member.firstname }}</p>
    <p><strong>Last Name:</strong> {{ member.lastname }}</p>
    <p><strong>Date of Birth:</strong> {{ member.dob }}</p>

    <a href="{% url 'member_update' member.pk %}">Edit</a>
    <a href="{% url 'member_delete' member.pk %}">Delete</a>
    <br><br>
    <a href="{% url 'member_list' %}">Back to List</a>
</body>
</html>