<!DOCTYPE html>
<html>
<head>
    <title>Member List</title>
</head>
<body>
    <h1>All Members</h1>
    <a href="{% url 'member_create' %}">Add New Member</a>
    <ul>
        {% for member in members %}
            <li>
                <a href="{% url 'member_detail' member.pk %}">
                    {{ member.firstname }} {{ member.lastname }} {{member.dob}}
                </a> |
                <a href="{% url 'member_update' member.pk %}">Edit</a> |
                <a href="{% url 'member_delete' member.pk %}">Delete</a>
            </li>
        {% empty %}
            <li>No members found.</li>
        {% endfor %}
    </ul>
</body>
</html>